.mt-1 {
  margin-top: 10px !important;
}

.ml-1 {
  margin-left: 10px !important
}

.br-4px {
  border-radius: 4px;
}

.pl-4 {
  padding-left: 40px;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.my-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.px-1 {
  padding: 0 10px !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.width-fit {
  width: fit-content
}

.f-md {
  font-size: medium;
}

.f-lg {
  font-size: large;
}
