.mt-1 {
  margin-top: 10px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.my-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
